<!DOCTYPE html>
<link href="jumbotron.css" rel="stylesheet">
<head>
    <title>Monkey - Monkey the life.</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
        #content {
            background-color: #FFF;
            border-radius: 5px;
        }
        #content .main {
            padding: 20px;
        }
        #content .sidebar {
            padding: 10px;
        }
        #content p {
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class="jumbotron">
<div class='container'>
    <h1>Shiqi Shao</h1>
    <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li><a href="./home.html">Home</a></li>
                <li><a href="achievements.html">Achievements</a></li>
                <li class="active"><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div id='content' class='row-fluid'>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Doublemap internship</h2>
                    <p>Take part in a 6-month internship in Doublemap as a programer, write codes for the main function of one of its new server pages.</p>
                </div>
                <div class="col-md-4">
                    <h2>Bachelor diploma</h2>
                    <p>Get the EEE bachelor diploma of HIT in June,2014.</p>
                </div>
                <div class="col-md-4">
                    <h2>Top Brazil</h2>
                    <p>Take part into Top Brazil program as the presentation of HIT, have a one month academic exchanges in Brazil with other C9 universities in China.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
