<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>Monkey - Monkey the life.</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
        #content {
            background-color: #FFF;
            border-radius: 5px;
        }
        #content .main {
            padding: 20px;
        }
        #content .sidebar {
            padding: 10px;
        }
        #content p {
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class='container'>
    <h1>Slogan</h1>
    <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li><a href="./home.html">Home</a></li>
                <li><a href="hobbies.html">Hobbies</a></li>
                <li class="active"><a href="./contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div id='content' class='row-fluid'>
        <div class='span9 main'>
        <h2>Links</h2>
        <form>
            <table border="0">
                <tr>
                    <td>Twitter</td>
                    <td><input id='name' align='right'/></td>
                <tr>
                <tr>
                    <td></td>
                    <td><input id='age' align='right'/></td>
                <tr>
                <tr>
                    <td>Email:</td>
                    <td><a href="mailto:shaoshiqi1992@hotmail.com?subject=Hello"/>Say hello to Shiqi</td>
                <tr>
            </table>
        </form>
        </div>
    </div>
</div>
</body>
</html>
