<!DOCTYPE html>
<head>
    <title>Monkey - Monkey the life.</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
        #content {
            background-color: #FFF;
            border-radius: 5px;
        }
        #content .main {
            padding: 20px;
        }
        #content .sidebar {
            padding: 10px;
        }
        #content p {
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class='container'>
    <h1>Slogan</h1>
    <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li><a href="./home.html">Home</a></li>
                <li><a href="hobbies.html">Hobbies</a></li>
                <li class="active"><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div id='content' class='row-fluid'>
        <div class='span9 main'>
        <h2>Hobbies</h2>
        <form>
            <table border="0">
                <tr>
                    <td>Coding</td>
                    <td><img src="../static/images/program.jpg"></td>
                <tr>
                <tr>
                    <td>Basketball</td>
                    <td><img src="../static/images/basketball.jpg"></td>
                <tr>
                <tr>
                    <td>Swimming</td>
                    <td><img src="../static/images/swim.jpg"></td>
                <tr>
            </table>
        </form>
        </div>
    </div>
</div>
</body>
</html>
