<!DOCTYPE html>
<head>
    <title>Monkey - Monkey the life.</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
        #content {
            background-color: #FFF;
            border-radius: 5px;
        }
        #content .main {
            padding: 20px;
        }
        #content .sidebar {
            padding: 10px;
        }
        #content p {
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class="jumbotron">
<div class='container'>
    <h1>Shiqi Shao</h1>
    <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li><a href="./home.html">Home</a></li>
                <li  class="active"><a href="achievements.html">Achievements</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div id='content' class='row-fluid'>
        <div class='span9 main'>

            <h2>I am Shiqi Shao, and from China. Like coding and challenging</h2>
            <h2><img src="../static/images/smore.jpg"></h2>
            <h2>Here are some of my hobbies</h2>
            <form>
                <table border="0">
                    <tr>
                        <td>Coding</td>
                        <td><img src="../static/images/program.jpg"></td>
                    <tr>
                    <tr>
                        <td>Basketball</td>
                        <td><img src="../static/images/basketball.jpg"></td>
                    <tr>
                    <tr>
                        <td>Swimming</td>
                        <td><img src="../static/images/swim.jpg"></td>
                    <tr>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
