<!DOCTYPE html>
<head>
    <title>Monkey - Monkey the life.</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type='text/css'>
        body {
            background-color: #CCC;
        }
        #content {
            background-color: #FFF;
            border-radius: 5px;
        }
        #content .main {
            padding: 20px;
        }
        #content .sidebar {
            padding: 10px;
        }
        #content p {
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class='container'>
    <h1>Shiqi Shao</h1>
    <div class='navbar navbar-inverse'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li><a href="./home.html">Brief Self-intro</a></li>
                <li  class="active"><a href="./hobbies.html">Hobbies</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div id='content' class='row-fluid'>
        <div class='span9 main'>

            <h2>As you can see, I'm from China. Like coding and challenging</h2>

        </div>
    </div>
</div>
</body>
</html>
